<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Netflix Analysis</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="indexaa.html">
            <img src="images/transparentN.png" alt="">
            <span>
              Netflix Analysis
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="indexaa.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="analysis.html">Analysis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Results.html">Results</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Tech.html">Tech</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/amar0623/Netflix">Github Repository</a>
                </li>
              </ul>
            </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6>
              Analysis
            </h6>
            <div class="custom_heading-container">
              <h2>
                Process
              </h2>
              <hr>
            </div>
            <p>
              WHAT DID WE WANT TO LEARN? <br>
              With this data, we wanted to know (based on IMDB scores):
               <li>What is the most popular movie rating?</li>
               <li>What is the best run time?</li>
               <li>What is/are the top genre(s)?</li>
               <li>Who are the best actors/directors?</li>
               <li>What IMDB score will our movie likely garner?</li> <br>

               To clean the data, we dropped any information we deemed irrelevant to our analysis. We excluded anything that related to TV shows or movies produced outside of the United States. <br>

               Then we used postgresql to create cleaned databases (one for movie data and the other for actor/director credits). <br>
            </p>
            <p>
               Movies under an 8.0 rating were then filtered out. A minimum rating of 8.0 was used because the IMDB score is out of 10, so anything above an 8.0 would give us the most highly rated 20% of movies in our database. <br>
               Once we had a list of movies with an IMDB score of 8.0 or higher, we calculated “best” age certification, genre, actor, and director based on frequency. The run time is calculated from an average.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/data-cleaning.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end about section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</body>

</html>